<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ryan.d3translationapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".NavigationDrawerActivity"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ArticleListViewerActivity"
            android:label="@string/title_activity_article_list_viewer"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".QuizActivity"
            android:label="@string/title_activity_quiz"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ArticleActivity"
            android:label="@string/title_activity_article"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".DictionaryActivity"
            android:label="@string/title_activity_dictionary"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".DictionaryLookupActivity"
            android:label="@string/title_activity_dictionary_lookup"
            android:parentActivityName=".DictionaryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ryan.d3translationapp.DictionaryActivity" />
        </activity>
    </application>

</manifest>